.slider_box {
  margin: 0 auto;
  width: 1100px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

/* 轮播幻灯片 */

.silder_con {
  padding-left: 0;
  position: absolute;
}

.silder_panel {
  width: 1100px;
  height: 500px;
  opacity: 0.9;
  overflow: hidden;
  float: left;
  position: relative;
}

.silder_panel img {
  width: 1100px;
  display: block;
  overflow: hidden;
}

/* 左右切换按钮 */

.slider_box a.prev,
.slider_box a.next {
  display: block;
  width: 40px;
  height: 80px;
  overflow: hidden;
  z-index: 9;
  position: absolute;
  cursor: pointer;
  margin: 180px 15px 0 15px;
  background: url('../images/silder_btn.png') no-repeat;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.slider_box a.prev:hover,
.slider_box a.next:hover {
  opacity: 1;
}

.slider_box a.prev {
  left: 0;
  background-position: left 0;
}

.slider_box a.next {
  right: 0;
  background-position: right 0;
}

/* 导航控制条 */

.silder_nav_mask {
  height: 80px;
  overflow: hidden;
  background: #ddd;
  opacity: 0.3;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.silder_nav {
  width: 100%;
  text-align: center;
  bottom: 10px;
  overflow: hidden;
  z-index: 9;
  position: absolute;
}

.silder_nav .silder_nav_item {
  margin: 2px 10px;
  display: inline-block;
  border: 1px #e7e7e7 solid;
  cursor: pointer;
}

.silder_nav .silder_nav_item.current {
  margin-bottom: 8px;
  transition: margin 0.3s;
}

.silder_nav img {
  display: block;
  width: 80px;
}

/* 右侧文字注释区域 */

.silder_intro {
  display: block;
  position: absolute;
  right: 75px;
  top: 55px;
  z-index: 9;
  width: 250px;
  height: 255px;
  padding: 25px 15px;
  overflow: hidden;
  background: rgba(0, 0, 0, .9);
  color: #f0f0f0;
  padding-left: 20px;
  box-shadow: 0 0 5px 0 #ddd;
  border-radius: 2px;
  text-indent: 0;
  text-decoration: none;
}

.silder_intro_content {
  font-size: 14px;
  margin: 10px 0;
  line-height: 1.8em;
}